# OS X Finder
.DS_Store

# Xcode per-user config
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
xcuserdata

# Build products
build/
*.o
*.LinkFileList
*.hmap

# Automatic backup files
*~.nib/
*.swp
*~
*.dat
*.dep

Pods
AshaNet_iOS.xcworkspace/xcuserdata/sagpatil.xcuserdatad/UserInterfaceState.xcuserstate
Pods/Pods.xcodeproj/xcuserdata/sagpatil.xcuserdatad/xcschemes/xcschememanagement.plist
